body{
    background-color: white;
    font-family: sans-serif;

}

.box-1{
    background-color: hsl(31, 66%, 93%);
    width: 300px;
    padding-top: 60px;
    padding-bottom: 70px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 6px;
    font-size: 25px;
}
.span-1{
   color: hsl(256, 67%, 59%);
}
.img-11 {
width: 100%;
}
.box-2{
    background-color:hsl(39, 100%, 71%) ;
width: 300px;
padding: 20px;
font-size: 30px;
border-radius: 6px;

}
.img-2{
    width: 100%;
}
.box-3{
    background-color: hsl(256, 67%, 59%);
    
}